<%- include('../templates/header') %>
<%- include('../templates/navbar') %>
<%- include('../templates/banner') %>
  <main class="blog">
    <article class="blog__editor">
      <div class="about__title">Edit Category</div>
      <form class="editor__form" action="/category/<%= category.id %>/edit" method="POST">
        <label for="category_name">名稱：</label>
        <input id="category_name" type="text" name="categoryName" placeholder="new category name" value="<%= category.categoryName %>">
        <input type="hidden" name="id" value="<%= category.id %>">
        <input type="submit">
      </form>
    </article>
  </main>
<%- include('../templates/footer') %>