<%- include('./templates/header')%>
<%- include('./templates/navbar_front')%>
<%- include('./templates/alert')%>
<%- include('./templates/banner')%>
  <main class="restaurant">
    <section class="restaurant__intro container">
      <div class="intro__title">當輕食之風盛起</div>
      <div class="intro__content">
        <p>由於現代人生活忙碌，常以外食為主，當高糖、高鹽、高油成為人們的日常，會導致慢性疾病與肥胖的機率大增。</p>
        <p>我們定期走訪農田，選用最天然、營養的食材，以簡單的烹調方式處理，最大化忠實呈現食材原本的鮮味。</p>
        <p>咬一口不只賣餐點，我們希望能夠讓大家愛上料理的魅力，餐館特意打造全開放式廚房，烹調透明化，也不定時舉辦美食廚房DIY，讓大家體驗不需要過多調味，就能擁有千變萬化的食物口感。</p>
      </div>
      <div class="intro__btns">
        <a href="/menu" class="btns__menu">我要點餐</a>
        <a href="#" class="btns__order">查看訂單</a>
      </div>
    </section>
    <section class="restaurant__menu">
      <div class="menu__title">Menu 搶先看</div>
      <div class="menu__looks">
        <!-- img js render -->
      </div>
    </section>
    <section class="restaurant__assess container">
      <div class="assess__title">吃過都說好</div>
      <section class="assess__cards">
        <!-- assess js render -->
      </section>
    </section>
    <section class="restaurant__location container">
      <div class="location__title">我們在哪裡</div>
      <div class="location__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.002890183707!2d121.5623502150063!3d25.03397598397251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1621259825926!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </section>
    </section>
  </main>
<%- include('./templates/contacts') %>
<%- include('./templates/footer') %>